In [ ]:
##################################################################################
#                               A I R B N B                                      #
#                                                                                #
#                      Graficación de datos                                      #
##################################################################################

In [1]:
# Carga de librerias
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
df_airbnb = pd.read_csv('alojamientos_limpio.csv', index_col=0)

df_airbnb.head()

,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,identidad_verificada_anfitrion,...,num_minimo_noches,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea,Anio
id_alojamiento,,,,,,,,,,,,,,,,,,,,,
41893558,Cute 4 Bedroom in Hamilton Heights,154741428,2017-10-15,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,f,...,30,1125,8.0,10.0,8.0,8.0,10.0,10.0,t,2017
37102870,SeaSide Hong Kong,107359991,2016-12-15,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,t,...,1,1125,10.0,10.0,10.0,10.0,10.0,10.0,f,2016
34074389,"Vue sur le Bosphore, jardin magnifique, 3 piÃƒ...",3135679,2012-02-08,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,t,...,3,1125,10.0,9.0,10.0,10.0,9.0,10.0,f,2012
10669776,"Chiara House, near Central Station",55114051,2016-01-18,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,t,...,3,1125,10.0,10.0,10.0,10.0,9.0,9.0,t,2016
18826436,Casa Salina-Breakfast offered first day,31550451,2015-04-19,"Paris, Ile-de-France, France",Unknown,0.0,1.0,t,1.0,t,...,2,1125,10.0,10.0,10.0,10.0,9.0,10.0,f,2015

In [4]:
# Graficación de alojamientos acumulados por ciudades
df_airbnb_sum_cities = df_airbnb.groupby('ciudad').size()
df_airbnb_sum_cities.sort_values(ascending=False)

ciudad
Paris             19245
Rome              15209
New York          14764
Mexico City       11723
Rio de Janeiro    10834
Sydney            10172
Cape Town          9616
Istanbul           8206
Bangkok            7142
Hong Kong          2248
dtype: int64

In [5]:
# Graficación de alojamientos acumulados por ciudades
crosstab = pd.crosstab(df_airbnb['ciudad'], df_airbnb['superanfitrion'])
crosstab

superanfitrion      f     t
ciudad
Bangkok          4466  2676
Cape Town        5902  3714
Hong Kong        1757   491
Istanbul         5680  2526
Mexico City      6190  5533
New York         9347  5417
Paris           13924  5321
Rio de Janeiro   7326  3508
Rome             9408  5801
Sydney           7013  3159

In [ ]:
# Graficación de alojamientos acumulados por año de inicio anfitrion y superanfitrion
crosstab = pd.crosstab(df_airbnb['Anio'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de alojamientos acumulados por tiempo de respuesta de anfitrion y superanfitrion
crosstab = pd.crosstab(df_airbnb['tiempo_respuesta_anfitrion'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de alojamientos acumulados por ciudad y superanfitrion
crosstab = pd.crosstab(df_airbnb['tasa_respuesta_anfitrion'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de identidad verificada del anfitrion y superanfitrion
crosstab = pd.crosstab(df_airbnb['identidad_verificada_anfitrion'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de tipo de propiedad y superanfitrion
crosstab = pd.crosstab(df_airbnb['tipo_propiedad'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de tipo de habitación y superanfitrion
crosstab = pd.crosstab(df_airbnb['tipo_habitacion'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de reservación instantanea y superanfitrion
crosstab = pd.crosstab(df_airbnb['reservacion_instantanea'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de calificación de exactitud del anuncio y superanfitrion
crosstab = pd.crosstab(df_airbnb['calificacion_exactitud_anuncio'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de tipo de habitación y superanfitrion
crosstab = pd.crosstab(df_airbnb['calificacion_comentarios_limpieza'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de tipo de habitación y superanfitrion
crosstab = pd.crosstab(df_airbnb['calificacion_comentarios_comunicacion'], df_airbnb['superanfitrion'])
crosstab

In [ ]:
# Graficación de tipo de habitación y superanfitrion
crosstab = pd.crosstab(df_airbnb['calificacion_comentarios_localizacion'], df_airbnb['superanfitrion'])
crosstab

In [6]:
# Graficación de tipo de habitación y superanfitrion
crosstab = pd.crosstab(df_airbnb['calificacion_total_comentarios'], df_airbnb['superanfitrion'])
crosstab

superanfitrion                      f      t
calificacion_total_comentarios
2.0                               506     12
3.0                                17      1
4.0                               251     18
5.0                               170      6
6.0                              1153     72
7.0                              1275     68
8.0                              6529    753
9.0                             28733   9782
10.0                            32379  27434