In [ ]:
##################################################################################
#                               A I R B N B                                      #
#                                                                                #
#                      Análisis de datos exploratorio                            #
##################################################################################

In [1]:
# Carga de librerias
import pandas as pd
import numpy as np

In [2]:
df_comentarios = pd.read_csv('Reviews.csv')

In [3]:
df_comentarios.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

In [4]:
df_comentarios.dtypes

listing_id      int64
review_id       int64
date           object
reviewer_id     int64
dtype: object

In [5]:
# Renombrando columnas
column_name_mapping = {
    'listing_id' : 'id_alojamiento',
    'review_id'  : 'id_comentario',
    'date'       : 'Fecha',
    'reviewer_id': 'id_usuario_comenta'
}

In [6]:
df_comentarios_renamed = df_comentarios.rename(columns=column_name_mapping)
df_comentarios_renamed.head()

   id_alojamiento  id_comentario       Fecha  id_usuario_comenta
0           11798      330265172  2018-09-30            11863072
1           15383      330103585  2018-09-30            39147453
2           16455      329985788  2018-09-30             1125378
3           17919      330016899  2018-09-30           172717984
4           26827      329995638  2018-09-30            17542859

In [7]:
# Cambio el tipo de dato de object a datetime
df_comentarios_renamed['Fecha'] = pd.to_datetime(df_comentarios_renamed['Fecha'])

In [8]:
df_comentarios_renamed.head()

   id_alojamiento  id_comentario      Fecha  id_usuario_comenta
0           11798      330265172 2018-09-30            11863072
1           15383      330103585 2018-09-30            39147453
2           16455      329985788 2018-09-30             1125378
3           17919      330016899 2018-09-30           172717984
4           26827      329995638 2018-09-30            17542859

In [9]:
df_comentarios_renamed.dtypes

id_alojamiento                 int64
id_comentario                  int64
Fecha                 datetime64[ns]
id_usuario_comenta             int64
dtype: object

In [10]:
df_comentarios_renamed.isna().sum()

id_alojamiento        0
id_comentario         0
Fecha                 0
id_usuario_comenta    0
dtype: int64

In [11]:
df_alojamientos = pd.read_csv('Listings_utf8.csv')

e:\users\dmorga\miniconda3\envs\bedu_ambiente\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
df_alojamientos.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [13]:
df_alojamientos['host_response_time'] = df_alojamientos['host_response_time'].fillna('Unknown')
df_alojamientos['host_response_rate'] = df_alojamientos['host_response_rate'].fillna(0)
df_alojamientos['host_acceptance_rate'] = df_alojamientos['host_acceptance_rate'].fillna(0)

In [14]:
df_alojamientos.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [15]:
df_alojamientos.shape

(279712, 33)

In [16]:
df_alojamientos.isna().sum()

listing_id                          0
name                              173
host_id                             0
host_since                        165
host_location                     840
host_response_time                  0
host_response_rate                  0
host_acceptance_rate                0
host_is_superhost                 165
host_total_listings_count         165
host_has_profile_pic              165
host_identity_verified            165
neighbourhood                       0
district                       242700
city                                0
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bedrooms                        29435
amenities                           0
price                               0
minimum_nights                      0
maximum_nights                      0
review_scores_rating            91405
review_scores_accuracy          91713
review_scores_cleanliness       91665
review_scores_checkin           91771
review_scores_communication     91687
review_scores_location          91775
review_scores_value             91785
instant_bookable                    0
dtype: int64

In [17]:
df_alojamientos.shape

(279712, 33)

In [18]:
df_alojamientos['name'] = df_alojamientos['name'].fillna('Unknown')
df_alojamientos['district'] = df_alojamientos['district'].fillna('Unknown')

In [19]:
df_alojamientos_no_nans = df_alojamientos.dropna(axis=0, how='any')

In [20]:
df_alojamientos_no_nans.isna().sum()

listing_id                     0
name                           0
host_id                        0
host_since                     0
host_location                  0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_total_listings_count      0
host_has_profile_pic           0
host_identity_verified         0
neighbourhood                  0
district                       0
city                           0
latitude                       0
longitude                      0
property_type                  0
room_type                      0
accommodates                   0
bedrooms                       0
amenities                      0
price                          0
minimum_nights                 0
maximum_nights                 0
review_scores_rating           0
review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
instant_bookable               0
dtype: int64

In [21]:
df_alojamientos_no_nans.shape

(167717, 33)

In [22]:
df_alojamientos_no_nans.dtypes

listing_id                       int64
name                            object
host_id                          int64
host_since                      object
host_location                   object
host_response_time              object
host_response_rate             float64
host_acceptance_rate           float64
host_is_superhost               object
host_total_listings_count      float64
host_has_profile_pic            object
host_identity_verified          object
neighbourhood                   object
district                        object
city                            object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bedrooms                       float64
amenities                       object
price                            int64
minimum_nights                   int64
maximum_nights                   int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
dtype: object

In [23]:
df_alojamientos_no_nans = df_alojamientos_no_nans.drop(['host_has_profile_pic', 'review_scores_rating'], axis = 1)

In [24]:
# Renombrando columnas
column_name_mapping = {
    'listing_id'                  : 'id_alojamiento',
    'name'                        : 'nombre',
    'host_id'                     : 'id_anfitrion',
    'host_since'                  : 'fecha_inicio_anfitrion',
    'host_location'               : 'localizacion_anfitrion',
    'host_response_time'          : 'tiempo_respuesta_anfitrion',
    'host_response_rate'          : 'tasa_respuesta_anfitrion',
    'host_acceptance_rate'        : 'tasa_aceptacion_anfitrion',
    'host_is_superhost'           : 'superanfitrion',
    'host_total_listings_count'   : 'total_alojamientos_anfitrion',
    'host_identity_verified'      : 'identidad_verificada_anfitrion',
    'neighbourhood'               : 'vecindario',
    'district'                    : 'distrito',
    'city'                        : 'ciudad',
    'latitude'                    : 'latitud',
    'longitude'                   : 'longitud',
    'property_type'               : 'tipo_propiedad',
    'room_type'                   : 'tipo_habitacion',
    'accommodates'                : 'num_huespedes',
    'bedrooms'                    : 'num_habitaciones',
    'amenities'                   : 'amenidades',
    'price'                       : 'precio',
    'minimum_nights'              : 'num_minimo_noches',
    'maximum_nights'              : 'num_maximo_noches',
    'review_scores_accuracy'      : 'calificacion_exactitud_anuncio',
    'review_scores_cleanliness'   : 'calificacion_comentarios_limpieza' ,
    'review_scores_checkin'       : 'calificacion_comentarios_entrada',
    'review_scores_communication' : 'calificacion_comentarios_comunicacion',
    'review_scores_location'      : 'calificacion_comentarios_localizacion',
    'review_scores_value'         : 'calificacion_total_comentarios',
    'instant_bookable'            : 'reservacion_instantanea'
}

In [25]:
df_alojamientos_clean = df_alojamientos_no_nans.rename(columns=column_name_mapping)
df_alojamientos_clean.head()

,id_alojamiento,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,...,precio,num_minimo_noches,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,53,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,120,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,89,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,58,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,60,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f

In [26]:
df_alojamientos_clean.dtypes

id_alojamiento                             int64
nombre                                    object
id_anfitrion                               int64
fecha_inicio_anfitrion                    object
localizacion_anfitrion                    object
tiempo_respuesta_anfitrion                object
tasa_respuesta_anfitrion                 float64
tasa_aceptacion_anfitrion                float64
superanfitrion                            object
total_alojamientos_anfitrion             float64
identidad_verificada_anfitrion            object
vecindario                                object
distrito                                  object
ciudad                                    object
latitud                                  float64
longitud                                 float64
tipo_propiedad                            object
tipo_habitacion                           object
num_huespedes                              int64
num_habitaciones                         float64
amenidades                                object
precio                                     int64
num_minimo_noches                          int64
num_maximo_noches                          int64
calificacion_exactitud_anuncio           float64
calificacion_comentarios_limpieza        float64
calificacion_comentarios_entrada         float64
calificacion_comentarios_comunicacion    float64
calificacion_comentarios_localizacion    float64
calificacion_total_comentarios           float64
reservacion_instantanea                   object
dtype: object

In [27]:
# Cambio el tipo de dato de object a datetime
df_alojamientos_clean['fecha_inicio_anfitrion'] = pd.to_datetime(df_alojamientos_clean['fecha_inicio_anfitrion'])

In [28]:
df_alojamientos_clean.head()

,id_alojamiento,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,...,precio,num_minimo_noches,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-03-12,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,53,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,2013-11-29,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,120,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,89,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,58,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,60,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f

In [29]:
df_alojamientos_clean.shape

(167717, 31)

In [30]:
sum(df_alojamientos_clean['tasa_aceptacion_anfitrion']==0)

58558

In [31]:
df_alojamientos_filtrado= df_alojamientos_clean.loc[df_alojamientos_clean['tasa_aceptacion_anfitrion'] > 0]

In [32]:
df_alojamientos_filtrado.shape

(109159, 31)

In [33]:
df_alojamientos_filtrado.tail()

,id_alojamiento,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,...,precio,num_minimo_noches,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea
273162,39665160,Le Saint Sulpice sous les toits,2825670,2012-04-07,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,80,2,7,10.0,10.0,10.0,10.0,10.0,10.0,f
273163,43636520,Charming Studio Oberkampf,65702549,2016-04-04,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,90,30,60,10.0,10.0,10.0,10.0,10.0,10.0,f
273164,44000812,Flat College de France,11442322,2014-01-19,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,200,1,365,10.0,10.0,10.0,10.0,10.0,10.0,f
273165,44261372,Pleasant apt in PLACE D'ITALIE,356730773,2020-07-16,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,80,1,365,10.0,10.0,10.0,10.0,10.0,10.0,f
273166,45308348,Appartement Cosy Paris 9 Quartier poissonniÃƒÂ¨re,86836150,2016-07-30,"Paris, Ile-de-France, France",Unknown,0.0,1.0,f,1.0,...,60,2,365,10.0,10.0,10.0,10.0,10.0,10.0,f

In [34]:
df_alojamientos_clean.to_csv('alojamientos_limpio.csv', index = False)

In [35]:
df_comentarios_renamed.to_csv('comentarios_limpio.csv', index = False)