In [1]:
##################################################################################
#                               A I R B N B                                      #
#                                                                                #
#                      An√°lisis de datos exploratorio                            #
##################################################################################

In [4]:
# Carga de librerias
import pandas as pd
import numpy as np

In [5]:
df_comentarios = pd.read_csv('Reviews.csv')

In [6]:
df_comentarios.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

In [7]:
df_comentarios.dtypes

listing_id      int64
review_id       int64
date           object
reviewer_id     int64
dtype: object

In [8]:
# Renombrando columnas
column_name_mapping = {
    'listing_id' : 'id_alojamiento',
    'review_id'  : 'id_comentario',
    'date'       : 'Fecha',
    'reviewer_id': 'id_usuario_comenta'
}

In [9]:
df_comentarios_renamed = df_comentarios.rename(columns=column_name_mapping)
df_comentarios_renamed.head()

   id_alojamiento  id_comentario       Fecha  id_usuario_comenta
0           11798      330265172  2018-09-30            11863072
1           15383      330103585  2018-09-30            39147453
2           16455      329985788  2018-09-30             1125378
3           17919      330016899  2018-09-30           172717984
4           26827      329995638  2018-09-30            17542859

In [10]:
# Cambio el tipo de dato de object a datetime
df_comentarios_renamed['Fecha'] = pd.to_datetime(df_comentarios_renamed['Fecha'])

In [11]:
df_comentarios_renamed.head()

   id_alojamiento  id_comentario      Fecha  id_usuario_comenta
0           11798      330265172 2018-09-30            11863072
1           15383      330103585 2018-09-30            39147453
2           16455      329985788 2018-09-30             1125378
3           17919      330016899 2018-09-30           172717984
4           26827      329995638 2018-09-30            17542859

In [12]:
df_comentarios_renamed.dtypes

id_alojamiento                 int64
id_comentario                  int64
Fecha                 datetime64[ns]
id_usuario_comenta             int64
dtype: object

In [13]:
df_comentarios_renamed.isna().sum()

id_alojamiento        0
id_comentario         0
Fecha                 0
id_usuario_comenta    0
dtype: int64

In [ ]:
df_alojamientos = pd.read_csv('Listings_utf8.csv')

In [ ]:
df_alojamientos.head()

In [ ]:
df_alojamientos['host_response_time'] = df_alojamientos['host_response_time'].fillna('Unknown')
df_alojamientos['host_response_rate'] = df_alojamientos['host_response_rate'].fillna(0)
df_alojamientos['host_acceptance_rate'] = df_alojamientos['host_acceptance_rate'].fillna(0)

In [ ]:
df_alojamientos.head()

In [ ]:
df_alojamientos.shape

In [ ]:
df_alojamientos.isna().sum()

In [ ]:
df_alojamientos.shape

In [ ]:
df_alojamientos['name'] = df_alojamientos['name'].fillna('Unknown')
df_alojamientos['district'] = df_alojamientos['district'].fillna('Unknown')

In [ ]:
df_alojamientos_no_nans = df_alojamientos.dropna(axis=0, how='any')

In [ ]:
df_alojamientos_no_nans.isna().sum()

In [ ]:
df_alojamientos_no_nans.shape

In [ ]:
df_alojamientos_no_nans.dtypes

In [ ]:
df_alojamientos_no_nans = df_alojamientos_no_nans.drop(['host_has_profile_pic', 'review_scores_rating'], axis = 1)

In [ ]:
# Renombrando columnas
column_name_mapping = {
    'listing_id'                  : 'id_alojamiento',
    'name'                        : 'nombre',
    'host_id'                     : 'id_anfitrion',
    'host_since'                  : 'fecha_inicio_anfitrion',
    'host_location'               : 'localizacion_anfitrion',
    'host_response_time'          : 'tiempo_respuesta_anfitrion',
    'host_response_rate'          : 'tasa_respuesta_anfitrion',
    'host_acceptance_rate'        : 'tasa_aceptacion_anfitrion',
    'host_is_superhost'           : 'superanfitrion',
    'host_total_listings_count'   : 'total_alojamientos_anfitrion',
    'host_identity_verified'      : 'identidad_verificada_anfitrion',
    'neighbourhood'               : 'vecindario',
    'district'                    : 'distrito',
    'city'                        : 'ciudad',
    'latitude'                    : 'latitud',
    'longitude'                   : 'longitud',
    'property_type'               : 'tipo_propiedad',
    'room_type'                   : 'tipo_habitacion',
    'accommodates'                : 'num_huespedes',
    'bedrooms'                    : 'num_habitaciones',
    'amenities'                   : 'amenidades',
    'price'                       : 'precio',
    'minimum_nights'              : 'num_minimo_noches',
    'maximum_nights'              : 'num_maximo_noches',
    'review_scores_accuracy'      : 'calificacion_exactitud_anuncio',
    'review_scores_cleanliness'   : 'calificacion_comentarios_limpieza' ,
    'review_scores_checkin'       : 'calificacion_comentarios_entrada',
    'review_scores_communication' : 'calificacion_comentarios_comunicacion',
    'review_scores_location'      : 'calificacion_comentarios_localizacion',
    'review_scores_value'         : 'calificacion_total_comentarios',
    'instant_bookable'            : 'reservacion_instantanea'
}

In [ ]:
df_alojamientos_clean = df_alojamientos_no_nans.rename(columns=column_name_mapping)
df_alojamientos_clean.head()

In [ ]:
df_alojamientos_clean.dtypes

In [ ]:
# Cambio el tipo de dato de object a datetime
df_alojamientos_clean['fecha_inicio_anfitrion'] = pd.to_datetime(df_alojamientos_clean['fecha_inicio_anfitrion'])

In [ ]:
df_alojamientos_clean.head()

In [ ]:
sum(df_alojamientos_clean['tasa_aceptacion_anfitrion']==0)

In [ ]:
df_alojamientos_filtrado= df_alojamientos_clean.loc[df_alojamientos_clean['tasa_aceptacion_anfitrion'] > 0]

In [ ]:
df_alojamientos_clean.shape

In [ ]:
def get_year(valor):
    return valor.year

In [ ]:
# Se agrega el campo Anio
df_alojamientos_filtrado['Anio'] = df_alojamientos_filtrado['fecha_inicio_anfitrion'].apply(get_year)

In [ ]:
df_alojamientos_filtrado.shape

In [ ]:
df_alojamientos_filtrado.tail()

In [ ]:
df_alojamientos_filtrado.to_csv('alojamientos_limpio.csv', index = False)

In [ ]:
df_comentarios_renamed.to_csv('comentarios_limpio.csv', index = False)

In [14]:
# Agrupado de comentarios por alojamiento
df_comentarios_x_alojamiento = df_comentarios_renamed.groupby('id_alojamiento').size()
df_comentarios_x_alojamiento.sort_values(ascending=False)

id_alojamiento
17222007    891
8637229     828
1249964     796
32011332    762
2399029     754
           ...
32050172      1
32051876      1
32052205      1
32052347      1
48263869      1
Length: 193556, dtype: int64

In [15]:
df_comentarios_x_alojamiento.to_csv('comentarios_x_alojamiento.csv', index = False)