In [ ]:
##################################################################################
#                               A I R B N B                                      #
#                                                                                #
#                      Análisis de datos exploratorio                            #
##################################################################################

In [1]:
# Carga de librerias
import pandas as pd
import numpy as np

# Carga de comentarios

In [2]:
df_comentarios = pd.read_csv('Reviews.csv')
df_comentarios.head()

   listing_id  review_id        date  reviewer_id
0       11798  330265172  2018-09-30     11863072
1       15383  330103585  2018-09-30     39147453
2       16455  329985788  2018-09-30      1125378
3       17919  330016899  2018-09-30    172717984
4       26827  329995638  2018-09-30     17542859

In [3]:
# Renombrando columnas
column_name_mapping = {
    'listing_id' : 'id_alojamiento',
    'review_id'  : 'id_comentario',
    'date'       : 'Fecha',
    'reviewer_id': 'id_usuario_comenta'
}

In [4]:
df_comentarios_renamed = df_comentarios.rename(columns=column_name_mapping)
df_comentarios_renamed.head()

   id_alojamiento  id_comentario       Fecha  id_usuario_comenta
0           11798      330265172  2018-09-30            11863072
1           15383      330103585  2018-09-30            39147453
2           16455      329985788  2018-09-30             1125378
3           17919      330016899  2018-09-30           172717984
4           26827      329995638  2018-09-30            17542859

In [5]:
df_comentarios.dtypes

listing_id      int64
review_id       int64
date           object
reviewer_id     int64
dtype: object

In [6]:
# Cambio el tipo de dato de object a datetime
df_comentarios_renamed['Fecha'] = pd.to_datetime(df_comentarios_renamed['Fecha'])
df_comentarios_renamed.head()

   id_alojamiento  id_comentario      Fecha  id_usuario_comenta
0           11798      330265172 2018-09-30            11863072
1           15383      330103585 2018-09-30            39147453
2           16455      329985788 2018-09-30             1125378
3           17919      330016899 2018-09-30           172717984
4           26827      329995638 2018-09-30            17542859

In [7]:
df_comentarios_renamed.isna().sum()

id_alojamiento        0
id_comentario         0
Fecha                 0
id_usuario_comenta    0
dtype: int64

# Carga de información de alojamientos

In [8]:
df_alojamientos = pd.read_csv('Listings_utf8.csv')
df_alojamientos.head()

e:\users\dmorga\miniconda3\envs\bedu_ambiente\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [9]:
df_alojamientos['host_response_time'] = df_alojamientos['host_response_time'].fillna('Unknown')
df_alojamientos['host_response_rate'] = df_alojamientos['host_response_rate'].fillna(0)
df_alojamientos['host_acceptance_rate'] = df_alojamientos['host_acceptance_rate'].fillna(0)
df_alojamientos.head()

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,...,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [10]:
df_alojamientos.shape

(279712, 33)

In [11]:
df_alojamientos['name'] = df_alojamientos['name'].fillna('Unknown')
df_alojamientos['district'] = df_alojamientos['district'].fillna('Unknown')

In [12]:
df_alojamientos_no_nans = df_alojamientos.dropna(axis=0, how='any')

In [13]:
df_alojamientos.isna().sum()

listing_id                         0
name                               0
host_id                            0
host_since                       165
host_location                    840
host_response_time                 0
host_response_rate                 0
host_acceptance_rate               0
host_is_superhost                165
host_total_listings_count        165
host_has_profile_pic             165
host_identity_verified           165
neighbourhood                      0
district                           0
city                               0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bedrooms                       29435
amenities                          0
price                              0
minimum_nights                     0
maximum_nights                     0
review_scores_rating           91405
review_scores_accuracy         91713
review_scores_cleanliness      91665
review_scores_checkin          91771
review_scores_communication    91687
review_scores_location         91775
review_scores_value            91785
instant_bookable                   0
dtype: int64

In [14]:
df_alojamientos_no_nans.shape

(167717, 33)

In [15]:
df_alojamientos_no_nans.dtypes

listing_id                       int64
name                            object
host_id                          int64
host_since                      object
host_location                   object
host_response_time              object
host_response_rate             float64
host_acceptance_rate           float64
host_is_superhost               object
host_total_listings_count      float64
host_has_profile_pic            object
host_identity_verified          object
neighbourhood                   object
district                        object
city                            object
latitude                       float64
longitude                      float64
property_type                   object
room_type                       object
accommodates                     int64
bedrooms                       float64
amenities                       object
price                            int64
minimum_nights                   int64
maximum_nights                   int64
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
instant_bookable                object
dtype: object

In [16]:
df_alojamientos_no_nans = df_alojamientos_no_nans.drop(['host_has_profile_pic', 'review_scores_rating'], axis = 1)

In [17]:
# Renombrando columnas
column_name_mapping = {
    'listing_id'                  : 'id_alojamiento',
    'name'                        : 'nombre',
    'host_id'                     : 'id_anfitrion',
    'host_since'                  : 'fecha_inicio_anfitrion',
    'host_location'               : 'localizacion_anfitrion',
    'host_response_time'          : 'tiempo_respuesta_anfitrion',
    'host_response_rate'          : 'tasa_respuesta_anfitrion',
    'host_acceptance_rate'        : 'tasa_aceptacion_anfitrion',
    'host_is_superhost'           : 'superanfitrion',
    'host_total_listings_count'   : 'total_alojamientos_anfitrion',
    'host_identity_verified'      : 'identidad_verificada_anfitrion',
    'neighbourhood'               : 'vecindario',
    'district'                    : 'distrito',
    'city'                        : 'ciudad',
    'latitude'                    : 'latitud',
    'longitude'                   : 'longitud',
    'property_type'               : 'tipo_propiedad',
    'room_type'                   : 'tipo_habitacion',
    'accommodates'                : 'num_huespedes',
    'bedrooms'                    : 'num_habitaciones',
    'amenities'                   : 'amenidades',
    'price'                       : 'precio',
    'minimum_nights'              : 'num_minimo_noches',
    'maximum_nights'              : 'num_maximo_noches',
    'review_scores_accuracy'      : 'calificacion_exactitud_anuncio',
    'review_scores_cleanliness'   : 'calificacion_comentarios_limpieza' ,
    'review_scores_checkin'       : 'calificacion_comentarios_entrada',
    'review_scores_communication' : 'calificacion_comentarios_comunicacion',
    'review_scores_location'      : 'calificacion_comentarios_localizacion',
    'review_scores_value'         : 'calificacion_total_comentarios',
    'instant_bookable'            : 'reservacion_instantanea'
}

In [18]:
df_alojamientos_clean = df_alojamientos_no_nans.rename(columns=column_name_mapping)
df_alojamientos_clean.head()

,id_alojamiento,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,...,precio,num_minimo_noches,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,03/12/2011,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,53,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃ‚Â² Paris (Sacre CÃ…â€œur),10328771,29/11/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,120,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,31/07/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,89,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,17/12/2013,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,58,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,14/12/2014,"Paris, Ile-de-France, France",Unknown,0.0,0.0,f,1.0,...,60,2,1125,10.0,10.0,10.0,10.0,10.0,10.0,f

In [19]:
df_alojamientos_clean.dtypes

id_alojamiento                             int64
nombre                                    object
id_anfitrion                               int64
fecha_inicio_anfitrion                    object
localizacion_anfitrion                    object
tiempo_respuesta_anfitrion                object
tasa_respuesta_anfitrion                 float64
tasa_aceptacion_anfitrion                float64
superanfitrion                            object
total_alojamientos_anfitrion             float64
identidad_verificada_anfitrion            object
vecindario                                object
distrito                                  object
ciudad                                    object
latitud                                  float64
longitud                                 float64
tipo_propiedad                            object
tipo_habitacion                           object
num_huespedes                              int64
num_habitaciones                         float64
amenidades                                object
precio                                     int64
num_minimo_noches                          int64
num_maximo_noches                          int64
calificacion_exactitud_anuncio           float64
calificacion_comentarios_limpieza        float64
calificacion_comentarios_entrada         float64
calificacion_comentarios_comunicacion    float64
calificacion_comentarios_localizacion    float64
calificacion_total_comentarios           float64
reservacion_instantanea                   object
dtype: object

In [20]:
df_alojamientos_clean['fecha_inicio_anfitrion'] = pd.to_datetime(df_alojamientos_clean['fecha_inicio_anfitrion'])

In [21]:
sum(df_alojamientos_clean['tasa_aceptacion_anfitrion']==0)

58558

In [22]:
df_alojamientos_filtrado= df_alojamientos_clean.loc[df_alojamientos_clean['tasa_aceptacion_anfitrion'] > 0]

In [67]:
df_alojamientos_filtrado.shape

(109159, 32)

In [24]:
def get_year(valor):
    return valor.year

In [25]:
# Se agrega el campo Anio
df_alojamientos_filtrado['Anio'] = df_alojamientos_filtrado['fecha_inicio_anfitrion'].apply(get_year)

<ipython-input-25-62a5d002ec09>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado['Anio'] = df_alojamientos_filtrado['fecha_inicio_anfitrion'].apply(get_year)

In [26]:
df_alojamientos_filtrado.shape

(109159, 32)

In [27]:
#Se agrega el campo precio en dolares

In [28]:
# funcion convertir precio a dolares
"""
def get_precio_dolar(ciudad, precio):
    if ciudad == 'Rome':             res = (precio/0.85)
    elif ciudad == 'Paris':          res = (precio/0.85)
    elif ciudad == 'Mexico City':    res = (precio/20)
    elif ciudad == 'Sydney':         res = (precio * 0.73)
    elif ciudad == 'Rio de Janeiro': res = (precio/5.24)
    elif ciudad == 'Cape Town':      res = (precio/14.35)
    elif ciudad == 'Bangkok':        res = (precio/32.90)
    elif ciudad == 'Istanbul':       res = (precio/8.44)
    elif ciudad == 'Hong Kong':      res = (precio/7.78)
    else:
        res = precio
    
    return res
"""

In [33]:
# Se agrega el campo precio_dolar_us
# df_alojamientos_filtrado['precio_dolar_us'] = df_alojamientos_filtrado['ciudad', 'precio'].apply(get_precio_dolar)

In [46]:
# funcion convertir precio a dolares Rome & Paris
def get_precio_dolar_euro(precio):
    return (precio/0.85)

In [36]:
# funcion convertir precio a dolares Mexico
def get_precio_dolar_mexico(precio):
    return (precio/20)

In [37]:
# funcion convertir precio a dolares Sydney
def get_precio_dolar_sydney(precio):
    return (precio * 0.73)

In [38]:
# funcion convertir precio a dolares Rio
def get_precio_dolar_rio(precio):
    return (precio/5.24)

In [39]:
# funcion convertir precio a dolares CapeTown
def get_precio_dolar_capetown(precio):
    return (precio/14.35)

In [40]:
# funcion convertir precio a dolares Bangkok
def get_precio_dolar_bang(precio):
    return (precio/32.90)

In [41]:
# funcion convertir precio a dolares Istanbul
def get_precio_dolar_istanbul(precio):
    return (precio/8.44)

In [42]:
# funcion convertir precio a dolares HongKong
def get_precio_dolar_hong(precio):
    return (precio/7.78)

In [68]:
#Se crea el dataset para Roma
df_alojamientos_filtrado_rome = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Rome']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_rome['precio_dolar_us'] = df_alojamientos_filtrado_rome['precio'].apply(get_precio_dolar_euro)

df_alojamientos_filtrado_rome.shape

<ipython-input-68-16115720a558>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_rome['precio_dolar_us'] = df_alojamientos_filtrado_rome['precio'].apply(get_precio_dolar_euro)

(15209, 33)

In [70]:
#Se crea el dataframe para Paris
df_alojamientos_filtrado_paris = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Paris']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_paris['precio_dolar_us'] = df_alojamientos_filtrado_paris['precio'].apply(get_precio_dolar_euro)

df_alojamientos_filtrado_paris.shape

<ipython-input-70-e66f8ea1d659>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_paris['precio_dolar_us'] = df_alojamientos_filtrado_paris['precio'].apply(get_precio_dolar_euro)

(19245, 33)

In [71]:
#Se crea el dataframe para New York
df_alojamientos_filtrado_newyork = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'New York']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_newyork['precio_dolar_us'] = df_alojamientos_filtrado_newyork['precio']

df_alojamientos_filtrado_newyork.shape

<ipython-input-71-27c85b029393>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_newyork['precio_dolar_us'] = df_alojamientos_filtrado_newyork['precio']

(14764, 33)

In [72]:
#Se crea el dataframe para Mexico City
df_alojamientos_filtrado_mexico = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Mexico City']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_mexico['precio_dolar_us'] = df_alojamientos_filtrado_mexico['precio'].apply(get_precio_dolar_mexico)

df_alojamientos_filtrado_mexico.shape

<ipython-input-72-cca86876243b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_mexico['precio_dolar_us'] = df_alojamientos_filtrado_mexico['precio'].apply(get_precio_dolar_mexico)

(11723, 33)

In [73]:
#Se crea el dataframe para Sydney
df_alojamientos_filtrado_sydney = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Sydney']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_sydney['precio_dolar_us'] = df_alojamientos_filtrado_sydney['precio'].apply(get_precio_dolar_mexico)

df_alojamientos_filtrado_sydney.shape

<ipython-input-73-a27061059f94>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_sydney['precio_dolar_us'] = df_alojamientos_filtrado_sydney['precio'].apply(get_precio_dolar_mexico)

(10172, 33)

In [74]:
#Se crea el dataframe para Rio de Janeiro
df_alojamientos_filtrado_rio = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Rio de Janeiro']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_rio['precio_dolar_us'] = df_alojamientos_filtrado_rio['precio'].apply(get_precio_dolar_rio)

df_alojamientos_filtrado_rio.shape

<ipython-input-74-2b91015bd385>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_rio['precio_dolar_us'] = df_alojamientos_filtrado_rio['precio'].apply(get_precio_dolar_rio)

(10834, 33)

In [75]:
#Se crea el dataframe para Cape Town
df_alojamientos_filtrado_capetown = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Cape Town']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_capetown['precio_dolar_us'] = df_alojamientos_filtrado_capetown['precio'].apply(get_precio_dolar_capetown)

df_alojamientos_filtrado_capetown.shape

<ipython-input-75-94912b41d85c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_capetown['precio_dolar_us'] = df_alojamientos_filtrado_capetown['precio'].apply(get_precio_dolar_capetown)

(9616, 33)

In [76]:
#Se crea el dataframe para Bangkok
df_alojamientos_filtrado_bangkok = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Bangkok']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_bangkok['precio_dolar_us'] = df_alojamientos_filtrado_bangkok['precio'].apply(get_precio_dolar_bang)

df_alojamientos_filtrado_bangkok.shape

<ipython-input-76-1475563af1a8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_bangkok['precio_dolar_us'] = df_alojamientos_filtrado_bangkok['precio'].apply(get_precio_dolar_bang)

(7142, 33)

In [77]:
#Se crea el dataframe para Istanbul
df_alojamientos_filtrado_istanbul = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Istanbul']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_istanbul['precio_dolar_us'] = df_alojamientos_filtrado_istanbul['precio'].apply(get_precio_dolar_istanbul)

df_alojamientos_filtrado_istanbul.shape

<ipython-input-77-d23995b6f6ce>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_istanbul['precio_dolar_us'] = df_alojamientos_filtrado_istanbul['precio'].apply(get_precio_dolar_istanbul)

(8206, 33)

In [78]:
#Se crea el dataframe para Hong Kong
df_alojamientos_filtrado_hong = df_alojamientos_filtrado.loc[df_alojamientos_filtrado['ciudad'] == 'Hong Kong']

# Se agrega el campo precio_dolar_us
df_alojamientos_filtrado_hong['precio_dolar_us'] = df_alojamientos_filtrado_hong['precio'].apply(get_precio_dolar_hong)

df_alojamientos_filtrado_hong.shape

<ipython-input-78-55e9e7a31a4f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_alojamientos_filtrado_hong['precio_dolar_us'] = df_alojamientos_filtrado_hong['precio'].apply(get_precio_dolar_hong)

(2248, 33)

In [ ]:
"""
for i in range(0, 11):
    if ciudad == 'Rome':
        dict_datos[i] = df_alojamientos_clean.loc[df_alojamientos_clean['ciudad'] == 'Rome']
        dict_datos[i]['precio_dolar_us'] = df_alojamientos_filtrado['ciudad', 'precio'].apply(get_precio_dolar)
        lista_de_dataframes.append(dict_datos[i])
"""

In [79]:
lista_de_dataframes = []
lista_de_dataframes.append(df_alojamientos_filtrado_rome)
lista_de_dataframes.append(df_alojamientos_filtrado_paris)
lista_de_dataframes.append(df_alojamientos_filtrado_newyork)
lista_de_dataframes.append(df_alojamientos_filtrado_mexico)
lista_de_dataframes.append(df_alojamientos_filtrado_sydney)
lista_de_dataframes.append(df_alojamientos_filtrado_rio)
lista_de_dataframes.append(df_alojamientos_filtrado_capetown)
lista_de_dataframes.append(df_alojamientos_filtrado_bangkok)
lista_de_dataframes.append(df_alojamientos_filtrado_istanbul)
lista_de_dataframes.append(df_alojamientos_filtrado_hong)

In [80]:
df_alojamientos__full = pd.concat(lista_de_dataframes, axis=0).reset_index(drop=True)

In [81]:
df_alojamientos__full.shape

(109159, 33)

In [82]:
df_alojamientos__full.tail()

,id_alojamiento,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,tiempo_respuesta_anfitrion,tasa_respuesta_anfitrion,tasa_aceptacion_anfitrion,superanfitrion,total_alojamientos_anfitrion,...,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea,Anio,precio_dolar_us
109154,30541292,Ã°Å¸â€œÂEntire Apartment - Quiet Light & Spac...,41295975,2015-12-08,"Lindfield, England, United Kingdom",within a few hours,0.80,0.46,f,1.0,...,30,10.0,10.0,10.0,10.0,10.0,10.0,f,2015,102.827763
109155,41864109,"In the heart of Sheung Wan, spacious 1BR",89335571,2016-11-08,Hong Kong,a few days or more,0.44,0.71,f,1.0,...,30,10.0,10.0,10.0,10.0,10.0,10.0,f,2016,70.694087
109156,46801124,Soho/Mid-levels 1 BED apartment renovated w/ v...,38802719,2015-07-18,"Hong Kong, Hong Kong",within a day,0.80,0.90,f,1.0,...,14,10.0,10.0,10.0,10.0,10.0,10.0,f,2015,102.827763
109157,26339244,Spacious 4BR in quiet area of Mid-Levels Central,59114014,2016-02-17,"Paris, Ile-de-France, France",within an hour,0.80,0.75,f,1.0,...,20,10.0,9.0,10.0,10.0,9.0,10.0,t,2016,154.241645
109158,29138738,Large & Bright Studio in Soho with private roo...,65017375,2016-03-30,"Paris, Ile-de-France, France",a few days or more,0.33,0.75,f,1.0,...,30,9.0,9.0,9.0,10.0,10.0,9.0,f,2016,127.120823

# Creacion de tabla donde se combinan comentarios y alojamientos

In [83]:
df_comentarios_merge = pd.merge(df_comentarios_renamed, df_alojamientos__full, left_on='id_alojamiento', right_index=True).sort_index()
df_comentarios_merge

,id_alojamiento,id_alojamiento_x,id_comentario,Fecha,id_usuario_comenta,id_alojamiento_y,nombre,id_anfitrion,fecha_inicio_anfitrion,localizacion_anfitrion,...,num_maximo_noches,calificacion_exactitud_anuncio,calificacion_comentarios_limpieza,calificacion_comentarios_entrada,calificacion_comentarios_comunicacion,calificacion_comentarios_localizacion,calificacion_total_comentarios,reservacion_instantanea,Anio,precio_dolar_us
0,11798,11798,330265172,2018-09-30,11863072,30231179,Happy Roman Holiday House at Termini Station ; ),70140089,2016-03-05,IT,...,28,10.0,9.0,10.0,10.0,9.0,9.0,f,2016,112.941176
1,15383,15383,330103585,2018-09-30,39147453,32864111,Beautiful modern apartement near Pigalle - Pro...,247164187,2019-06-03,"Paris, Ile-de-France, France",...,1125,10.0,9.0,10.0,10.0,10.0,9.0,f,2019,167.058824
2,16455,16455,329985788,2018-09-30,1125378,35229706,Lovely 2 room apartment in central Paris,229026396,2018-04-12,"Paris, Ile-de-France, France",...,1125,10.0,10.0,10.0,10.0,10.0,10.0,t,2018,76.470588
3,17919,17919,330016899,2018-09-30,172717984,16186470,charming bright studio in Montmartre,30589194,2015-04-04,"Paris, Ile-de-France, France",...,1125,10.0,10.0,10.0,10.0,10.0,9.0,f,2015,58.823529
4,26827,26827,329995638,2018-09-30,17542859,11798,Loft very charming in Paris,44444,2009-08-10,"Paris, Ile-de-France, France",...,20,10.0,10.0,10.0,10.0,10.0,10.0,f,2009,129.411765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4632330,108039,108039,671794791,2020-10-06,20707029,34424272,Ã¥Â¸â€šÃ¤Â¸Â­Ã¥Â¿Æ’ Ã¦â€”ÂºÃ¨Â§â€™Ã¥Å“Â°Ã©â€œÂ...,116364906,2017-02-14,Hong Kong,...,1125,10.0,10.0,10.0,10.0,10.0,10.0,f,2017,43.316195
4632331,108039,108039,714224260,2020-12-08,376859807,34424272,Ã¥Â¸â€šÃ¤Â¸Â­Ã¥Â¿Æ’ Ã¦â€”ÂºÃ¨Â§â€™Ã¥Å“Â°Ã©â€œÂ...,116364906,2017-02-14,Hong Kong,...,1125,10.0,10.0,10.0,10.0,10.0,10.0,f,2017,43.316195
4632332,108566,108566,339161,2011-06-27,734504,44144195,Room H - Booth Lodge (Stay & Cook Package) Ã¨â...,346623156,2020-05-18,"Kowloon, Hong Kong",...,500,10.0,10.0,10.0,10.0,10.0,10.0,f,2020,39.845758
4632333,108566,108566,377122,2011-07-16,381841,44144195,Room H - Booth Lodge (Stay & Cook Package) Ã¨â...,346623156,2020-05-18,"Kowloon, Hong Kong",...,500,10.0,10.0,10.0,10.0,10.0,10.0,f,2020,39.845758
4632334,108566,108566,218373186,2017-12-12,160991083,44144195,Room H - Booth Lodge (Stay & Cook Package) Ã¨â...,346623156,2020-05-18,"Kowloon, Hong Kong",...,500,10.0,10.0,10.0,10.0,10.0,10.0,f,2020,39.845758

In [84]:
df_comentarios_merge.dtypes

id_alojamiento                                    int64
id_alojamiento_x                                  int64
id_comentario                                     int64
Fecha                                    datetime64[ns]
id_usuario_comenta                                int64
id_alojamiento_y                                  int64
nombre                                           object
id_anfitrion                                      int64
fecha_inicio_anfitrion                   datetime64[ns]
localizacion_anfitrion                           object
tiempo_respuesta_anfitrion                       object
tasa_respuesta_anfitrion                        float64
tasa_aceptacion_anfitrion                       float64
superanfitrion                                   object
total_alojamientos_anfitrion                    float64
identidad_verificada_anfitrion                   object
vecindario                                       object
distrito                                         object
ciudad                                           object
latitud                                         float64
longitud                                        float64
tipo_propiedad                                   object
tipo_habitacion                                  object
num_huespedes                                     int64
num_habitaciones                                float64
amenidades                                       object
precio                                            int64
num_minimo_noches                                 int64
num_maximo_noches                                 int64
calificacion_exactitud_anuncio                  float64
calificacion_comentarios_limpieza               float64
calificacion_comentarios_entrada                float64
calificacion_comentarios_comunicacion           float64
calificacion_comentarios_localizacion           float64
calificacion_total_comentarios                  float64
reservacion_instantanea                          object
Anio                                              int64
precio_dolar_us                                 float64
dtype: object

In [85]:
df_comentarios_merge.to_csv('comentarios_merge.csv', index = False)